.main{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    #mainTitle{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }


}