<main class="main">
  <div class="content">
    <div class="content">
      <div id="">
        <br />
        <h1 [ngClass]="[this.userComicService.getComicObjectCount() > 0 ? '' : 'your-comics-title'] ">{{yourComicsTitle()}}</h1>
        <br />
        <div *ngIf="this.userComicService.getComicObjectCount() > 0" class="comics-container">
          <app-user-comic *ngFor="let comic of this.userComicService.getComicsObject()" [userComic]="comic"></app-user-comic>
        </div>
        <br />
        <div id="add-container">
          <h1>Add new titles to your collection</h1>
          <p>add a horizontal scrolling thing here</p>

          <p>Search if you can find that the comic already added by someone. You can use a single keyword to find
            comics,
            don't have to use the full title:</p>

          <form>
            <mat-form-field>
              <mat-label>Search Comic</mat-label>
              <input matInput placeholder="" value="" (input)="searchKeyword.set($any($event.target).value)" />
            </mat-form-field>
            
            <button mat-raised-button color="primary" (click)="searchComics()">Search</button>
          </form>
          <div *ngIf="searchedComics().length > 0" class="comics-container">
            <app-comic *ngFor="let comic of searchedComics()" [comic]="comic"></app-comic>
          </div>
          <H3 id = "err-msg" *ngIf="showNotFoundError()" [style.opacity]="opacity()" class="err-msg">{{searchErrMg()}}</H3>

          <p>If you can't find it, you can be the first who uploads this comic to the app, Woohoo!</p>
          <button mat-raised-button id="add-new-btn" color="primary" (click)="createComic()">Add New Comic</button>
        </div>
      </div>
    </div>
  </div>
</main>