.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;

    .nav {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        top: 0;
        position: absolute;
        display: flex;

        &.left-side-nav {
            justify-content: flex-end;
        }

        .nav_button {
            height: 35px;
            border-radius: 0 !important;
            z-index: 10;
        }
    }

    #mainTitle {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    #position-left-button {
        clip-path: polygon(0 50%, 40% 0, 100% 0%, 100% 100%, 40% 100%);
        right: -25px;
        height: 36px;
        top: 0px;
        z-index: 5;
    }

    #position-right-button {
        clip-path: polygon(0 0, 60% 0, 100% 50%, 60% 100%, 0 100%);
        left: -25px;
        height: 36px;
        top: 0px;
        z-index: 5;
    }
    .menu-items{
        display: flex;
        flex-direction: row-reverse
    }
}