.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;

    .nav {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        top: 0;
        position: absolute;
        height: 35px;

        #logout-button {
            height: 35px;
            right: 0;
            position: absolute;
            border-radius: 0 !important;
        }
    }

    #mainTitle {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
}