.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        top: 0;
        display: flex;

        &.left-side-nav {
            justify-content: flex-end;
            position: relative;
            z-index: 2;
        }

        .nav_button {
            height: 35px;
            border-radius: 0 !important;
            z-index: 10;
        }
    }

    @media (max-width: 768px) {
        .nav {
            background-color: var(--mdc-protected-button-container-color, var(--mat-sys-surface));
        }
    }

        .background-layer {
            position: relative;
            min-height: 100vh;
            background-image: url("/assets/images/cvr_wallpaper.png");
            background-size: cover;
            background-position: center;

            .main-content {
                position: relative;
                z-index: 2;
                padding: 5px;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 25px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
    
                & p {
                    text-align: center;
                }
            }
        }

        .background-layer::before {
          content: "";
          position: absolute;
          inset: 0;
          background: rgba(255, 255, 255, 0.8);
          z-index: 1;
        }


    #mainTitle {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        text-align: center;
    }

    #position-left-button {
        clip-path: polygon(0 50%, 40% 0, 100% 0%, 100% 100%, 40% 100%);
        right: -25px;
        height: 36px;
        top: 0px;
        z-index: 5;
    }

    @media (max-width: 768px) {
        #position-left-button {
            display: none;
        }
    }

    #position-right-button {
        clip-path: polygon(0 0, 60% 0, 100% 50%, 60% 100%, 0 100%);
        left: -25px;
        height: 36px;
        top: 0px;
        z-index: 5;
    }

    @media (max-width: 768px) {
        #position-right-button {
            display: none;
        }
    }

    .menu-items {
        display: flex;
        flex-direction: row-reverse
    }
}