.comics-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
    background: rgba(30, 30, 30, 0.15);
    border-radius: 12px;
}

.your-comics-title{
    text-align: center;
}

@media (min-width: 1440px) {
    #add-container {
        width: 50%;
    }
}

