<main class="main">
  <div class="content">
    <div class="panel-header">
      <button mat-icon-button id="back-button" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2>Register</h2>
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" novalidate>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          name="username"
          ngModel
          required
          #usernameCtrl="ngModel"
        />
        <mat-error *ngIf="usernameCtrl.invalid && usernameCtrl.touched">
          Username is required
        </mat-error>
      </mat-form-field>

      <!--
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          name="email"
          ngModel
          required
          email
          #emailCtrl="ngModel"
        />
        <mat-error *ngIf="emailCtrl.invalid && emailCtrl.touched">
          <span *ngIf="emailCtrl.errors?.['required']">Email is required</span>
          <span *ngIf="emailCtrl.errors?.['email']">Invalid email format</span>
        </mat-error>
      </mat-form-field>
      -->

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          ngModel
          required
          minlength="8"
          #passCtrl="ngModel"
        />
        <mat-error *ngIf="passCtrl.invalid && passCtrl.touched">
          <span *ngIf="passCtrl.errors?.['required']">Password is required</span>
          <span *ngIf="passCtrl.errors?.['minlength']"
            >Password must be at least 8 characters</span
          >
        </mat-error>
      </mat-form-field>

      <button id = "reg-button"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </form>
  </div>
  <H3 id = "err-msg" *ngIf="showUserAlreadyExistError()" [style.opacity]="opacity()" class="err-msg">{{errMg()}}</H3>
</main>
