#popup-window {
    width: 500px;
    height: 400px;
    display: grid;
    background-color: #040621;
    color: #e0e0e0;
    justify-items: center;
    overflow: overlay;
    scrollbar-width: thin;
    scrollbar-color: #4dd0e1 #040621;
    //scrollbar-width: none; /* Firefox */
    //-ms-overflow-style: none; /* Internet Explorer, Edge (legacy) */

    @media (max-width: 768px) {
        width: 300px;
    }

    & mat-form-field {
        margin-right: 5px;
    }
}

/*
    #popup-window::-webkit-scrollbar {
        display: none; //Chrome, Safari, Edge
    }
*/
#title {
    text-align: center;
    color: #4dd0e1;
    padding-top: 27px;
    height: fit-content;
}

#content-div {
    text-align: center;
    
    #add-comic-container {
        display: flex;
    }
}

#btn-div {
    justify-content: center;
    display: flex;
    gap: 6px;
    padding-top: 20px;
    padding-bottom: 18px;
}


#next-btn {
    background-color: #1a3031;
}

#cancel-btn {
    color: #fff;
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.2s;
}


.mat-icon {
    font-weight: 900;
    font-size: 100px;
    min-height: 150px;
    min-width: 150px;
    top: 14px;
    left: -7px;
}

#add-comic-container {
    text-align: center;
    gap: 6px;

    #add-comic-btn-container {
        min-height: 150px;
        min-width: 150px;
    }

    #add-wishlist-btn-container {
        min-height: 150px;
        min-width: 150px;
    }

    button[mat-icon-button] {
        min-height: 150px;
        min-width: 150px;
    }
}

#err-msg{
    color:red;
}