.panel-header {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    border: 2px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    width: 123px;

}

#back-button {
    color: black;
}

#login-button {
    height: 57px;
    left: 2px;
}

@media (min-width: 375px) {
    #login-button {
        bottom: 8px;
    }
}

#login-button:disabled {
    background-color: #999999;
    color: #ffb4ab;
}

.mat-mdc-progress-spinner {
    color: orange;
}

#spinner-div {
    justify-content: center;
    display: flex;
}