@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  @include mat.progress-spinner-overrides((
    active-indicator-color: #00dddd,
  ));
}


/* Firefox */
.mat-mdc-select-panel {
  scrollbar-width: thin;
  scrollbar-color: #4dd0e1 #040621;
}

/* Chrome, Edge, Safari */
.mat-mdc-select-panel::-webkit-scrollbar {
  width: 8px;
}

.mat-mdc-select-panel::-webkit-scrollbar-track {
  background: #040621;
}

.mat-mdc-select-panel::-webkit-scrollbar-thumb {
  background-color: #4dd0e1;
  border-radius: 4px;
  border: 2px solid #040621;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--mdc-protected-button-container-color, var(--mat-sys-surface));
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4dd0e1;
  cursor: pointer;
}


:root {
  --mat-sys-error: #b40a0a;
}
